/*зверху і знизу буде в нас по 0, а от вже брати ліво і право тоді це будуть автоматичні відступи 
    тобто завдяки "margin: 0 auto" і цим значенням відступи будуть автоматично центруватись*/
.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
    
}
p {
    color: #8E8E9C;
    line-height: 1.8;
    margin-bottom: 15px;
}
/* class hide - для того щоб ті секції, які в нас є готові були заховані, щоб ми могли працювати з певною секцією окремо*/
/* також можна додати !important - для того щоб даний елемент 100% виконав свою дію */
.hide {
    display: none; 
}
.title-wrapper {
    margin-bottom: 60px;
}
.title {
    margin-bottom: 17px;

    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
}
.subtitle {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
}
/*------------------------------- Стилізація шапки сайту------------------------------- */
.header {
    padding: 20px 0;
    width: 100%; /*Якщо шапка сайту стиснеться, тоді даємо їй 100% ширини в даному батьківському блоці*/

    position: fixed; /*Фіксую шапку (sticky- це прилипання) - при прогортуванні вниз шапка залишається вверху 
    (залежить від батьківського елемента)*/
    /* position: fixed;       Фіксую шапку (fixed- це постійне прилипання) - при прогортуванні вниз шапка залишається вверху
    (не залежить від батьківського елемента)*/

    /*Висновок:
    Вибір залежить від того, як ви хочете, щоб елементи взаємодіяли з контентом і прокручуванням сторінки. 
    Якщо вам потрібна постійна видимість — використовуйте fixed. 
    Якщо ви хочете елемент, який буде видимим лише в певних умовах прокручування, але не завжди — обирайте sticky.*/

    top: 0;   /*  Даємо конкретне місце прилипання */
    left: 0; 
    z-index: 100; /*Даємо z-index для того щоб шапка завжди була поверх інших елементів,
    якщо будуть якісь інші з позиціоновані елементи вони можуть мішати шапці і 
     шапка при прогортуванні буде ховатись за ними */

    background-color: #fff;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69B9FF;
}
.header__nav ul{
    display: flex;
}
/* застосовую даний відступ тільки для наступних li крім першої li за допомоги +  
це - для того, якщо в нас будуть ще якісь Li додані, тоді вони будуть мати відступи але 
самий перший li не буде мати відступ*/
.header__nav li + li {
    margin-left: 40px;
}
/* додаю "transition" для того щоб колір наведення змінювався плавно на інший - виставляю час в секундах */
.header__nav a {
    font-size: 16px;
    color: #676770;
    transition: 0.3s;
}
/* додаю псевдо-клас "hover" до силки для наведення курсором зміна кольору*/
.header__nav a:hover {
    color: #69B9FF;
}
/* додаю псевдо-клас "active" до силки при натисканні на неї відбулась зміна кольору */
.header__nav a:active {
    color: #0062b6;
}
/*------------------------------- Стилізація MAIN ------------------------------- */

/* .main {
} */
/*------------------------------- Стилізація секції WELCOME ------------------------------- */

.welcome {
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;

    background-color: #282936; /*для того ,якщо не підгрузиться картинка був задній фон, який підстрахує*/
    background-image: url("./img/Background/front.png");
    background-size: cover;
    background-position: center;
}
.welcome__heading {
    margin-bottom: 100px;

    font-size: 59px;
    line-height: 1;

    letter-spacing: 4px;
    text-transform: uppercase;
}
.welcome__links > * + * {
    margin-left: 20px;
}
.link-primary {
    display: inline-block;
    padding: 11px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #69B9FF;
    border-radius: 4px;
    transition: background-color 0.15s;
}
.link-primary:hover {
    background-color: #7cc2ff;
}
.link-primary:active {
    background-color: #0f8fff;
}

.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: 1px solid #FFFF;
    border-radius: 4px;
    transition: border-color 0.15s, background-color 0.15s;
}
.link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}
.link:active {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.5);
}
/* -----------------------------Стилізація section ABOUT (WHAT WE DO)--------------------------------*/
.about {
    text-align: center;
}
.common-section {
    text-align: center;
    /* внутрішні відступи для секції */
    padding: 80px 0; 
}
.about .cards-wrapper {
    display: flex;
    justify-content: space-between;
}
.about .card {
    padding: 35px 15px 25px;
    width: 300px;
    border: 1px solid #DCEBF7;
    border-radius: 5px;

    transition: background-color 0.5s, transform 0.2s;
    position: relative;
    overflow: hidden;
}
.about .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.3), transparent);
    transition: 0.5s;
}
.about .card:hover::before {
    left: 100%;
}
.about .card:hover {
    background-color: #3498db;
}
.about .card img {
    margin-bottom: 20px;

    width: 94px;
    height: 94px;
    object-fit: contain;
}
.about .card h4 {
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;

    transition: color 0.5s ease;/*час переходу */
    
}
.about .card:hover h4 {
    color: white;
    transform: scale(1.03); /*заголовок збільшується у 0,3*/
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);/*підключення тіні*/
}
.about .card:hover p {
    color: white;
    transform: scale(1.03);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.services {
}
.common-section {
}
.common-section--dark {
}
.container {
}
.title-wrapper {
}
.title {
}
.subtitle {
}
.cards-wrapper {
}
.card {
}
.link {
}